In [2]:
import pandas as pd
import numpy as np

In [11]:
#  read the data
df = pd.read_csv('E:/ML/stat453-deep-learning-ss21-main/L05/code/datasets/iris.data',header=None,index_col=None)

In [12]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [13]:
df.columns=['x1','x2','x3','x4','x5']

In [14]:
df.head()

    x1   x2   x3   x4           x5
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [23]:
#  see how many classes in x5:
#  see how many classes in x5:
df['x5'].unique()
# df.groupby('x5')

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [25]:
#  see different classes in x5:

df['x5'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [26]:
#  how many instances in each class :
df['x5'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: x5, dtype: int64

In [27]:
df['x5']=df['x5'].apply(lambda x: 1 if x=='Iris-versicolor' else  0)

In [28]:
df.head()

    x1   x2   x3   x4  x5
0  5.1  3.5  1.4  0.2   0
1  4.9  3.0  1.4  0.2   0
2  4.7  3.2  1.3  0.2   0
3  4.6  3.1  1.5  0.2   0
4  5.0  3.6  1.4  0.2   0

In [30]:
df['x5'].value_counts()

0    100
1     50
Name: x5, dtype: int64